<!DOCTYPE html>
<html>
    
{{>head}}

    {{!-- el signo mayor debe estar pegado a la llave --}}
      {{> navbar }}
        <div class="row">
            <h1 class="col">hello devil may cry</h1>

        </div>
        <div class="row">
           <img src="assets/img/devil-may-cry-dante.jpg" class="img-thumbnail" alt="">
        </div>

{{>footer}}
{{>scripts}}

</html>