<!DOCTYPE html>
<html>
    
{{>head}}

    {{!-- el signo mayor debe estar pegado a la llave --}}
      {{> navbar }}
        <div class="jumbotron">
            <h1 class="display-4">hello {{nombre}}</h1>

        </div>

{{>footer}}
{{>scripts}}

</html>